

.container {
    width: 1000px;  
    height: 100%;
    margin: 0 auto;
    background-color:white;
}
.nav{
    float:right;

}
nav,footer {
    height: 35px;
    background-color: white;
    padding: 0 0 10px 10px;
    font-family: Righteous;
    margin-top: 18px;

}
nav a{
    text-decoration:none;
    color: #00BFFF;
    font-weight: bold;
}

#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(/images/nav.png) center;
  }
  #menu-icon:hover {
    border-radius: 4px 4px 0 0;
  }
  nav ul li a:hover {
    color: #1ca51c;
  }



.sitename {
    color: #00BFFF;
    font-size: 24px;
    font-weight: bold;
    font-family: Righteous;
    display: inline-block;
    text-decoration:none;
    margin-bottom: 15px;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

.banner {
    height: 350px;

}
.banner img{
    height: 100%;
    width:100%;

}
nav li {
    display: block;
    display: inline-block;
    color: #00BFFF;
    font-family: Righteous;
    margin-left: 20px;
    
}

nav ul{
    margin-top:3px;
}
.username{
    font-weight: bold !important;
}
nav div {
    float: right;
    margin: 17px 20px 0;
}

.search input {
    border: 2px solid #00BFFF;
    width: 150px;
    border-radius: 10px;
    padding: 3px;
}

.search input::placeholder{
      color:#00BFFF;
  }



  @media screen and (max-width: 930px) {

    #menu-icon {
        display: inline-block;
      }
    
      nav ul,
      nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px 10px 10px;
        background:#00BFFF;
        right: 20px;
        top: 60px;
        border: 1px solid #fff;
        border-radius: 10px 0 10px 2px;
        width: 232px;
      }
    
        nav li{
            color:white !important;
            display: block;
            margin: 0px auto 20px;
        }
        nav li a{
            color:white !important;
        }

 
    
      nav:hover ul {
        display: block;
      }
    

}