<h1>Advanced Search</h1>
<h3 class="msg">{{msg}}</h3>
<Form action="/advancedsearchresults">
    <section class="containerr">
        <div class="clm">
            <div class="item">
                <label for="sector">Sector</label>
                <select name="sector" id="sector">
                    <option value="Industrial">Industrial</option>
                    <option value="Agricultural">Agricultural</option>
                    <option value="IT">IT</option>
                </select>
            </div>
            <div class="item">
                <label for="maxfund">Maximum Fund</label>
                <input type="number" id="maxfund" name="maxfund">
            </div>
            <div class="item">
                <label for="minfund">Minimum Fund</label>
                <input type="number" id="minfund" name="minfund">
            </div>
            <input type="submit" value="Search">
        </div>
    </section>
</Form>