<h1 class="title">Sign UP</h1>
<h3 class="msg">{{msg}}</h3>
{{a}}
<form id="signupform" enctype='multipart/form-data' action="/signup" method="POST">
  <section class="containerr">
    <div class="clm">
      <div class="item">
        <label for="name"> Name</label>
        <input type="text" name="name" id="fname" required>
        <p id="fnamerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="email">Email </label>
        <input type="email" name="email" id="email" required>
        <p id="emailerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="password">Password </label>
        <input type="password" name="pass" id="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
        <p id="passerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="location">Location </label>
        <input type="text" name="location" id="location" required>
        <p id="locationerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="specification">Specification </label>
        <input type="text" name="spec" id="specification" required>
        <p id="specificationerr" class="errorValid"></p>
      </div>
    </div>
    <div class="clm">
      <div class="item">
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" id="occupation" required>
        <p id="occupationerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="linkedin">LinkedIn</label>
        <input type="text" name="linkedin" id="linkedin" required>
        <p id="linkedinerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="facebook">FaceBook</label>
        <input type="text" name="facebook" id="facebook" required>
        <p id="facebookerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="mobile">Mobile</label>
        <input type="tel" name="mobile" id="mobile" required>
        <p id="mobileerr" class="errorValid"></p>
      </div>
      <div class="item">
        <label for="img">Image</label>
        <input type="file" name="imageURL" id="img" required>
        <p id="imgerr" class="errorValid"></p>
      </div>
    </div>
    <div class="description">
      <div class="item">
        <label for="description">Description </label>
        <textarea class="item" type="text" name="description" id="description" required></textarea>
        <p id="descriptionerr" class="errorValid"></p>
      </div>
    </div>
    <div class="submitdiv">

                <div class="type-1">
                  <div>
                    <a class="btn btn-1" href="javascript:{}" onclick="document.getElementById('signupform').submit();">
                    <span class="txt">Sgin Up</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                    </a>
                  </div>
                </div> 

      <br>
      <a class="signup-help" href="/login">Login</a>
    </div>
</form>