<header>
    <img class="logo" src="/images/sahem_share_logo.png" />
    <a class="sitename" href="/">Sahem</a>
    <div class="nav">
        <nav>

            <a href="#" id="menu-icon"></a>
            <ul>
                {{#if authenticated}}
                <li>
                    <b>HELLO:</b>&nbsp;
                    <a class="username" href="/profile/{{user.id}}">{{user.name}}</a>
                </li>
                <li>
                    <a href="/CreateProposal">CREATE PROPOSAL</a>
                </li>
                <li>
                    <a href="/logout">LOGOUT</a>
                </li>

                {{/if}} {{#unless authenticated}}
                <li>
                    <a href="/login">LOGIN</a>
                </li>
                <li>
                    <a href="/signup">SIGNUP</a>
                </li>
                {{/unless}}


                <li class="search">
                    <form action="/search">
                        <input id="searchtxt" type="text" name="projectname" placeholder="search By Name" />
                    </form>
                </li>
                <li>
                    
                    <button style="background-color:#00BFFF;border-radius:5px">
                        <a style="color:white;" href="/advancedsearchform">Advanced</a>
                    </button>




                 
                </li>
     
            </ul>

        </nav>

      </div>

   

</header>